---
const portfolioItems = [
  {
    imgUrl: "/Alex_Boczek.webp",
    imgAlt: "Website preview image",
    websiteTitle: "www.somerandomwebsite.pl",
    projectTitle: "Super amazing blazing fast web dev project",
    technologies: "JavaScript, React, Node.js, Astro",
    projectUrl: "#",
    projectGitHub: "#",
  },
  {
    imgUrl: "/Alex_Boczek.webp",
    imgAlt: "Website preview image",
    websiteTitle: "www.somerandomwebsite.pl",
    projectTitle: "Super amazing blazing fast web dev project",
    technologies: "JavaScript, React, Node.js, Astro",
    projectUrl: "#",
    projectGitHub: "#",
  },
  {
    imgUrl: "/Alex_Boczek.webp",
    imgAlt: "Website preview image",
    websiteTitle: "www.somerandomwebsite.pl",
    projectTitle: "Super amazing blazing fast web dev project",
    technologies: "JavaScript, React, Node.js, Astro",
    projectUrl: "#",
    projectGitHub: "#",
  },
  {
    imgUrl: "/Alex_Boczek.webp",
    imgAlt: "Przemek Legierski website preview image",
    websiteTitle: "www.przemeklegierski.pl",
    projectTitle: "Business website for photographer",
    technologies: "JavaScript, React, Node.js, Astro",
    projectUrl: "https://przemeklegierski.pl/",
    projectGitHub: "#",
  },
];
---

<section class="portfolio">
  <div class="portfolio__heading-container">
    <h2 class="portfolio__h2">Portfolio</h2>
    <span class="portfolio__h2-undertext">Talk is cheap, show me the code.</span
    >
  </div>
  <div class="portfolio__container">
    <!-- Create all portfolio items -->
    {
      portfolioItems.map((portfolioItem) => (
        <div class="portfolio__container-single">
          <img
            src={portfolioItem.imgUrl}
            alt={portfolioItem.imgAlt}
            class="portfolio__container-img"
          />
          <div class="portfolio__container-content-container">
            <a
              target="_blank"
              class="portfolio__container-link"
              href={portfolioItem.projectUrl}
            >
              {portfolioItem.websiteTitle}
            </a>
            <h3 class="portfolio__container-h3">
              {portfolioItem.projectTitle}
            </h3>
            <p class="portfolio__container-technologies">
              {portfolioItem.technologies}
            </p>
            <a
              target="_blank"
              class="portfolio__container-btn"
              href={portfolioItem.projectUrl}
            >
              Live Version
            </a>
            <a
              target="_blank"
              class="portfolio__container-btn"
              href={portfolioItem.projectGitHub}
            >
              Check on GitHub
            </a>
          </div>
        </div>
      ))
    }

    <!-- End of portfolio items loop -->
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .portfolio {
    max-width: 1170px;
    width: 100%;
    margin-bottom: 9.375rem; // 150px
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 6.25rem; // 100px
      .portfolio__h2 {
        font-size: $fontsize-h1-62px;
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 75px;
      }

      .portfolio__h2-undertext {
        font-weight: 800;
        font-size: $fontsize-h2-34px;
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6.25rem; // 100px
      &-single {
        .portfolio__container-img {
          width: 25rem; // 400px
          height: 18.75rem; // 300px;
        }

        .portfolio__container-content-container {
          width: 25rem; // 400px;
          height: 25rem; // 400px;
          background-color: $color-blue-medium;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 3.125rem; // 50px;
          margin-top: -1.25rem; // -20px

          .portfolio__container-link {
            font-size: $fontsize-portfolio-h3-25px;
            font-weight: 200;
            background: $main-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
          }

          .portfolio__container-h3 {
            text-align: center;
            font-size: $fontsize-portfolio-h3-25px;
            font-weight: 800;
            line-height: 1.875rem; // 30px
            margin-top: 0.625rem; // 10px
          }

          .portfolio__container-technologies {
            color: $color-orange;
            font-size: $fontsize-text-16px;
            font-weight: 500;
            margin-bottom: 1.25rem; // 20px
          }

          .portfolio__container-btn {
            color: $color-white;
            text-decoration: none;
            font-weight: 400;
            font-size: $fontsize-text-18px;

            padding: 10px 20px;
            border: 1px solid transparent; /* Set a transparent border */
            border-radius: 0px;
            border-image: linear-gradient(
                to right,
                $color-purple,
                $color-orange
              )
              1;

            &:hover {
              background: $main-gradient;
            }

            &:last-of-type {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
</style>
